openapi: 3.0.3
info:
  title: API de Jogos de Futebol
  version: 1.0.0
  description: |
    API para geração e recuperação de jogos de futebol.

servers:
  - url: https://api.exemplo.com
    description: API Gateway HTTP (AWS)

paths:
  /health:
    get:
      summary: Verifica o estado da API
      operationId: getHealth
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:{region}:lambda:path/2015-03-31/functions/{lambda_arn}/invocations
        payloadFormatVersion: "2.0"

  /jogos:
    get:
      summary: Lista jogos cadastrados
      operationId: getJogos
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:{region}:lambda:path/2015-03-31/functions/{lambda_arn}/invocations
        payloadFormatVersion: "2.0"

  /jogos/{data}:
    get:
      summary: Recupera jogos por data
      operationId: getJogosPorData
      parameters:
        - name: data
          in: path
          required: true
          description: Data do jogo (YYYY-MM-DD)
          schema:
            type: string
            format: date
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:{region}:lambda:path/2015-03-31/functions/{lambda_arn}/invocations
        payloadFormatVersion: "2.0"

  /jogos/gerar:
    post:
      summary: Gera um novo jogo a partir do texto bruto de jogadores
      operationId: postGerarJogo
      x-amazon-apigateway-integration:
        type: aws_proxy
        httpMethod: POST
        uri: arn:aws:apigateway:{region}:lambda:path/2015-03-31/functions/{lambda_arn}/invocations
        payloadFormatVersion: "2.0"
