openapi: "3.0.1"
info:
  title: "API de Jogos de Futebol"
  description: "API para geração e recuperação de jogos de futebol.\n"
  version: "1.0.0"
servers:
- url: "https://9s0xp12qyb.execute-api.us-east-1.amazonaws.com/{basePath}"
  variables:
    basePath:
      default: ""
paths:
  /health:
    get:
      operationId: "getHealth"
      responses:
        default:
          description: "Default response for GET /health"
      x-amazon-apigateway-integration:
        payloadFormatVersion: "2.0"
        type: "aws_proxy"
        httpMethod: "POST"
        uri: "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:529160768027:function:lambda-backend-api-psg-fc/invocations"
        connectionType: "INTERNET"
  /jogos:
    get:
      operationId: "getJogos"
      responses:
        default:
          description: "Default response for GET /jogos"
      x-amazon-apigateway-integration:
        payloadFormatVersion: "2.0"
        type: "aws_proxy"
        httpMethod: "POST"
        uri: "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:529160768027:function:lambda-backend-api-psg-fc/invocations"
        connectionType: "INTERNET"
  /jogos/{data}:
    get:
      operationId: "getJogosPorData"
      responses:
        default:
          description: "Default response for GET /jogos/{data}"
      x-amazon-apigateway-integration:
        payloadFormatVersion: "2.0"
        type: "aws_proxy"
        httpMethod: "POST"
        uri: "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:529160768027:function:lambda-backend-api-psg-fc/invocations"
        connectionType: "INTERNET"
    parameters:
    - name: "data"
      in: "path"
      description: "Generated path parameter for data"
      required: true
      schema:
        type: "string"
  /jogos/gerar:
    post:
      operationId: "postGerarJogo"
      responses:
        default:
          description: "Default response for POST /jogos/gerar"
      x-amazon-apigateway-integration:
        payloadFormatVersion: "2.0"
        type: "aws_proxy"
        httpMethod: "POST"
        uri: "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:529160768027:function:lambda-backend-api-psg-fc/invocations"
        connectionType: "INTERNET"
